.body{
    width: 1200px;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
    box-shadow: 1px 3px 25px 0px rgba(0,0,0,0.75);
    border-radius: 26px 26px 26px 26px;
    margin-top: 10px;
}

.main{
    padding: 10px;
    text-align: start;
}
